<div class="experience">
{% for item in site.data.resume.experience %}
<h4> {{ item.company }} </h4>
<h5>{{ item.title }}</h5>
<p>{{ item.endDate }} - {{ item.startDate }}</p>
<ul>

    {% for highlight in item.highlights %}
    <li>{{ highlight }}</li>
    {% endfor %}
</ul>
{% endfor %}
</div>