<div class="heading">
    <div class="logo-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" preserveAspectRatio="xMidYMin slice" class="logo" style="width: 100%; padding-bottom: 92%; height: 1px; overflow: visible">
            <g id="Layer_2" data-name="Layer 2">
                <path
                    d="M80.69,16.19a57.39,57.39,0,0,0-40.75,17l-5.31-4.49-4.18,4.94L35.64,38a57.52,57.52,0,1,0,45.05-21.8Zm0,108.63A51,51,0,0,1,40.58,42.17L77.33,73.32,60.27,88.38,60,59.71l-6-5.52v47.65L81.88,77l23.76,20.21,4.91,3.89,0-55-6.47,4.52.12,37L44.9,37.35a51.06,51.06,0,1,1,35.79,87.47Z" />
            </g>
        </svg>
    </div>

    <div>
        <h1 class="name"> {{ site.data.resume.name }} </h1>
        <h2 class="title"> {{ site.data.resume.title }} </h2>
    </div>
</div>