

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Bold.woff2') format('woff2'),
        url('fonts/Forza-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Black.woff2') format('woff2'),
        url('fonts/Forza-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Forza Book';
    src: url('fonts/Forza-Book.woff2') format('woff2'),
        url('fonts/Forza-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forza Book';
    src: url('fonts/Forza-BookItalic.woff2') format('woff2'),
        url('fonts/Forza-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-BoldItalic.woff2') format('woff2'),
        url('fonts/Forza-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Medium.woff2') format('woff2'),
        url('fonts/Forza-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-LightItalic.woff2') format('woff2'),
        url('fonts/Forza-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-BlackItalic.woff2') format('woff2'),
        url('fonts/Forza-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Thin.woff2') format('woff2'),
        url('fonts/Forza-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Light.woff2') format('woff2'),
        url('fonts/Forza-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-MediumItalic.woff2') format('woff2'),
        url('fonts/Forza-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-ThinItalic.woff2') format('woff2'),
        url('fonts/Forza-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-MediumItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('fonts/GothamNarrow-Book.woff2') format('woff2'),
        url('fonts/GothamNarrow-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('fonts/GothamNarrow-UltraItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-UltraItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('fonts/GothamNarrow-BookItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-Thin.woff2') format('woff2'),
        url('fonts/GothamNarrow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-LightItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-Black.woff2') format('woff2'),
        url('fonts/GothamNarrow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-BoldItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow XLight';
    src: url('fonts/GothamNarrow-XLight.woff2') format('woff2'),
        url('fonts/GothamNarrow-XLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('fonts/GothamNarrow-Ultra.woff2') format('woff2'),
        url('fonts/GothamNarrow-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow XLight';
    src: url('fonts/GothamNarrow-XLightItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-XLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-Medium.woff2') format('woff2'),
        url('fonts/GothamNarrow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-BlackItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-Bold.woff2') format('woff2'),
        url('fonts/GothamNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-ThinItalic.woff2') format('woff2'),
        url('fonts/GothamNarrow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('fonts/GothamNarrow-Light.woff2') format('woff2'),
        url('fonts/GothamNarrow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-Medium.woff2') format('woff2'),
        url('fonts/Vitesse-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse Book';
    src: url('fonts/Vitesse-Book.woff2') format('woff2'),
        url('fonts/Vitesse-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-Bold.woff2') format('woff2'),
        url('fonts/Vitesse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse Book';
    src: url('fonts/Vitesse-BookItalic.woff2') format('woff2'),
        url('fonts/Vitesse-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-Black.woff2') format('woff2'),
        url('fonts/Vitesse-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-LightItalic.woff2') format('woff2'),
        url('fonts/Vitesse-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-BlackItalic.woff2') format('woff2'),
        url('fonts/Vitesse-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-BoldItalic.woff2') format('woff2'),
        url('fonts/Vitesse-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-MediumItalic.woff2') format('woff2'),
        url('fonts/Vitesse-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-Light.woff2') format('woff2'),
        url('fonts/Vitesse-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-Thin.woff2') format('woff2'),
        url('fonts/Vitesse-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('fonts/Vitesse-ThinItalic.woff2') format('woff2'),
        url('fonts/Vitesse-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

