$gap-horizontal: 10px;
$gap-vertical: $gap-horizontal;
$grid-columns: 12;

@mixin grid {
  @supports(grid-area: auto) {
    display: grid;
    grid-column-gap: $gap-horizontal;
    grid-row-gap: $gap-vertical;
  }
}


@mixin gridLayout($cols...) {
  $i: 1;
  @each $col in $cols {
    > :nth-of-type(#{$i}) {
      width: calc( #{round-width(nth($col,1))} - #{$gap-horizontal});
    }
    $i: $i + 1;
  }

  @supports(grid-area: auto) {
    grid-template-columns: repeat($grid-columns, 1fr);

    $i: 1;
    @each $col in $cols {
      > :nth-of-type(#{$i}) {
        grid-column-end: span nth($col,1);
        @if length($col) > 1 {
          grid-row-end: span nth($col,2);
        }
      }
      $i: $i + 1;
    }
    
    > :nth-child(n) {
      width: auto;
      margin: 0;
    }
  }
}

.grid {
  @include grid;
  @include gridLayout(
    (12), //Header
    (8), //Experience
    (4), //Skills
  );
}

