<!doctype html>
<html>

{% include header.html %}

<body>
    <div class="grid">
        
        {% include heading.html %}
        {% include experience.html %}
        {% include skills.html %}
    </div>
</body>

</html>