.heading {

    .logo-container {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 100%;
    }
    
    .logo {
        fill: var(--color-icon-primary);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }


    .name {
        font-size: 4em;
    }

    .title {
        font-family: var(--font-tertiary);
        font-weight: 500;
    }
}